/* 主题色 */
.csn-sticky[data-csn-color='default'] {
	--csn-h: var(--background-secondary);
	--csn-b: var(--background-primary);
}

.csn-sticky[data-csn-color='yellow'] {
	--csn-h: #f5e6a3;
	--csn-b: #fff8d4;
}

.csn-sticky[data-csn-color='pink'] {
	--csn-h: #f5c2d6;
	--csn-b: #ffe8f0;
}

.csn-sticky[data-csn-color='mint'] {
	--csn-h: #a8e6cf;
	--csn-b: #e4fff4;
}

.csn-sticky[data-csn-color='blue'] {
	--csn-h: #a8d4f0;
	--csn-b: #e8f4ff;
}

.csn-sticky[data-csn-color='lavender'] {
	--csn-h: #d4c4f5;
	--csn-b: #f0e8ff;
}

.csn-sticky[data-csn-color='gray'] {
	--csn-h: #d8d8d8;
	--csn-b: #f0f0f0;
}

.theme-dark .csn-sticky[data-csn-color='yellow'] {
	--csn-h: #5c5430;
	--csn-b: #3d3820;
}

.theme-dark .csn-sticky[data-csn-color='pink'] {
	--csn-h: #5c3040;
	--csn-b: #3d2028;
}

.theme-dark .csn-sticky[data-csn-color='mint'] {
	--csn-h: #2d5c48;
	--csn-b: #1e3d30;
}

.theme-dark .csn-sticky[data-csn-color='blue'] {
	--csn-h: #2d4a5c;
	--csn-b: #1e303d;
}

.theme-dark .csn-sticky[data-csn-color='lavender'] {
	--csn-h: #403060;
	--csn-b: #282040;
}

.theme-dark .csn-sticky[data-csn-color='gray'] {
	--csn-h: #404040;
	--csn-b: #2a2a2a;
}
